@media screen and (max-width:500px) {
    header .container{
        display: flex;
        flex-direction: column;
    }
    header nav{
        margin-bottom: 5px;
    }
}

@media screen and (max-width:470px) {
    .filme-principal h3{
        width: 55%;
    }
}